<div class="new-cocktail-layout">
  <div class="new-header">
    <h1>Edit the <%= @cocktail.name %> cocktail</h1>
  </div>
  <div class="new-cocktail-form">
    <%= render 'form', { action: 'Edit'} %>
  </div>
</div>
